<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<title>Questions and answers</title>
	</head>
	<body>
		<center><h1>Questions and answers</h1></center>
		<center>
			<table border="1" cols="4" cellpadding="10">
		<caption>Questions and answers</caption>
			<tr>
				<th style="width: 60%; ">Question</th>
				<th style="width: 20%;">Answers</th>
				<th style="width: 20%;">Right answer</th>
			</tr>
			{% for question in questions %}
			<tr>
				<td>{{question['question']}}</td>
				<td>
					<ul>
						{% for answer in question['answers'] %}
						<li>{{answer}}</li>
						{% end %}
					</ul>
				</td>
				<td>{{question['rightAnswer']}}</td>
			</tr>
			{% end %}
		</table></center>
		<center><button type="submit" class="btn btn-primary">Submit</button></center>
	</body>
</html>